
.main{
    text-align: center;
}

.text{
    color: rgb(244, 244, 244);
    font-size: 100px;
}

.button {
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: coral;
    color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        background: rgb(114, 58, 18)
    }
}