
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    color: rgb(244, 244, 244);
    font-size: 25px;
}

.start {
    width: 100px;
    margin: 10px;
    background-color: coral;
    color: aliceblue;
    border-radius: 10px;
}


.stop{
    width: 100px;
    margin: 10px;
    background-color: rgb(243, 255, 80);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.rest{
    width: 100px;
    margin: 10px;
    background-color: rgb(5, 255, 209);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}